<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/styles.css}" rel="stylesheet"/>
    <title>Product</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div th:insert="fragments/message :: message"></div>

<form th:action="@{/products/addProduct}" method="post">
    <div class="add_product_form">
        <div class="product_name"><label> Product name: <input type="text" name="productName"/> </label></div>
        <div class="product_cost">
            <label> Cost:
            <input type="number" step="0.01" min="0" placeholder="0.00" name="cost"/>$
            </label>
        </div>
        <div><input type="submit" th:value="Add"/></div>
    </div>
</form>
<a th:replace="fragments/buttons/allProducts_btn :: products_btn"></a>
<footer th:insert="fragments/footer :: footer"></footer>
</body>

</html>
