<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/styles.css}" rel="stylesheet"/>
    <title>Product</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div th:switch="${deleted}">
<h1 th:case="false">Product details:</h1>
    <h1 th:case="true">Product deleted:</h1>
</div>

<div class="products_form">
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Cost</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product: ${productList}">
        <td>[[${product.id}]]</td>
        <td>[[${product.name}]]</td>
        <td>[[${product.cost}]]</td>
    </tr>
    </tbody>
</table>
</div>

<a th:replace="fragments/buttons/allProducts_btn :: products_btn"></a>
<footer th:insert="fragments/footer :: footer"></footer>
</body>

</html>
