<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer_bar">
    <nav class="navbar fixed-bottom navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <!--            <a class="navbar-brand" href="/">-->
            <!--                <img src="/img/logo_estar.png" alt="Bootstrap" width="110" height="30">-->
            <!--            </a>-->
            <span class="navbar-text mx-auto me-auto mb-2 mb-lg-0">My Store © 2023 Artem Kovalov</span>
<!--            <form class="d-flex me-3" role="search">-->
<!--                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--                <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--            </form>-->

<!--            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"-->
<!--                    data-bs-target="#navbarSupportedContent2"-->
<!--                    aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">-->
<!--                <span class="navbar-toggler-icon"></span>-->
<!--            </button>-->
<!--            <div class="collapse navbar-collapse" id="navbarSupportedContent2">-->
<!--                &lt;!&ndash;                <ul class="navbar-nav me-auto mb-2 mb-lg-0">&ndash;&gt;-->
<!--                &lt;!&ndash;                    <li class="nav-item">&ndash;&gt;-->
<!--                &lt;!&ndash;                        <a class="nav-link active" aria-current="page" href="/greeting">Hello Page</a>&ndash;&gt;-->
<!--                &lt;!&ndash;                    </li>&ndash;&gt;-->
<!--                &lt;!&ndash;                    <li class="nav-item">&ndash;&gt;-->
<!--                &lt;!&ndash;                        <a class="nav-link" href="/products">Products</a>&ndash;&gt;-->
<!--                &lt;!&ndash;                    </li>&ndash;&gt;-->
<!--                &lt;!&ndash;                    <li class="nav-item">&ndash;&gt;-->
<!--                &lt;!&ndash;                        <a class="nav-link" href="/form">Login</a>&ndash;&gt;-->
<!--                &lt;!&ndash;                    </li>&ndash;&gt;-->
<!--                &lt;!&ndash;                    <li class="nav-item">&ndash;&gt;-->
<!--                &lt;!&ndash;                        <a class="nav-link disabled">Disabled</a>&ndash;&gt;-->
<!--                &lt;!&ndash;                    </li>&ndash;&gt;-->
<!--                &lt;!&ndash;                    <li class="nav-item dropdown">&ndash;&gt;-->
<!--                &lt;!&ndash;                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"&ndash;&gt;-->
<!--                &lt;!&ndash;                           aria-expanded="false">&ndash;&gt;-->
<!--                &lt;!&ndash;                            Dropdown&ndash;&gt;-->
<!--                &lt;!&ndash;                        </a>&ndash;&gt;-->
<!--                &lt;!&ndash;                        <ul class="dropdown-menu">&ndash;&gt;-->
<!--                &lt;!&ndash;                            <li><a class="dropdown-item" href="#">Action</a></li>&ndash;&gt;-->
<!--                &lt;!&ndash;                            <li><a class="dropdown-item" href="#">Another action</a></li>&ndash;&gt;-->
<!--                &lt;!&ndash;                            <li>&ndash;&gt;-->
<!--                &lt;!&ndash;                                <hr class="dropdown-divider">&ndash;&gt;-->
<!--                &lt;!&ndash;                            </li>&ndash;&gt;-->
<!--                &lt;!&ndash;                            <li><a class="dropdown-item" href="#">Something else here</a></li>&ndash;&gt;-->
<!--                &lt;!&ndash;                        </ul>&ndash;&gt;-->
<!--                &lt;!&ndash;                    </li>&ndash;&gt;-->
<!--                &lt;!&ndash;                </ul>&ndash;&gt;-->
<!--            </div>-->
        </div>
    </nav>
</footer>
</html>
