<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: common_header(_, _)"><title></title>
</head>
<header th:replace="fragments/header :: header_bar"></header>
<body>
<!--<div class="container m-5">-->
<!--    <p th:text="'Hello, ' + ${name} + '!'"/>-->
<!--    &lt;!&ndash;About user&ndash;&gt;-->
<!--    <div class="about">-->
<!--        <h2 class="about_position">Hello, </h2>-->
<!--        <h1 class="about_name" th:text="${name} + '!'"/>-->
<!--        &lt;!&ndash;    <p class="about_description">&ndash;&gt;-->
<!--        &lt;!&ndash;    </p>&ndash;&gt;-->
<!--    </div>-->
<!--</div>-->
<div th:replace="fragments/carousel :: carousel"></div>
</body>
<footer th:replace="fragments/footer :: footer_bar"></footer>
</html>