<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: common_header(~{::title}, _)">
    <title>Products</title>
</head>
<header th:replace="fragments/header :: header_bar"></header>
<body>

<!--<table class="table align-middle mb-0 bg-white">-->
<!--    <thead class="bg-light">-->
<!--    <tr>-->
<!--        <th>Name</th>-->
<!--        <th>Title</th>-->
<!--        <th>Status</th>-->
<!--        <th>Position</th>-->
<!--        <th>Actions</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr>-->
<!--        <td>-->
<!--            <div class="d-flex align-items-center">-->
<!--                <img-->
<!--                        src="https://mdbootstrap.com/img/new/avatars/8.jpg"-->
<!--                        alt=""-->
<!--                        style="width: 45px; height: 45px"-->
<!--                        class="rounded-circle"-->
<!--                />-->
<!--                <div class="ms-3">-->
<!--                    <p class="fw-bold mb-1">John Doe</p>-->
<!--                    <p class="text-muted mb-0">john.doe@gmail.com</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </td>-->
<!--        <td>-->
<!--            <p class="fw-normal mb-1">Software engineer</p>-->
<!--            <p class="text-muted mb-0">IT department</p>-->
<!--        </td>-->
<!--        <td>-->
<!--            <span class="badge badge-success rounded-pill d-inline">Active</span>-->
<!--        </td>-->
<!--        <td>Senior</td>-->
<!--        <td>-->
<!--            <button type="button" class="btn btn-link btn-sm btn-rounded">-->
<!--                Edit-->
<!--            </button>-->
<!--        </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>-->
<!--            <div class="d-flex align-items-center">-->
<!--                <img-->
<!--                        src="https://mdbootstrap.com/img/new/avatars/6.jpg"-->
<!--                        class="rounded-circle"-->
<!--                        alt=""-->
<!--                        style="width: 45px; height: 45px"-->
<!--                />-->
<!--                <div class="ms-3">-->
<!--                    <p class="fw-bold mb-1">Alex Ray</p>-->
<!--                    <p class="text-muted mb-0">alex.ray@gmail.com</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </td>-->
<!--        <td>-->
<!--            <p class="fw-normal mb-1">Consultant</p>-->
<!--            <p class="text-muted mb-0">Finance</p>-->
<!--        </td>-->
<!--        <td>-->
<!--        <span class="badge badge-primary rounded-pill d-inline"-->
<!--        >Onboarding</span-->
<!--        >-->
<!--        </td>-->
<!--        <td>Junior</td>-->
<!--        <td>-->
<!--            <button-->
<!--                    type="button"-->
<!--                    class="btn btn-link btn-rounded btn-sm fw-bold"-->
<!--                    data-mdb-ripple-color="dark"-->
<!--            >-->
<!--                Edit-->
<!--            </button>-->
<!--        </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>-->
<!--            <div class="d-flex align-items-center">-->
<!--                <img-->
<!--                        src="https://mdbootstrap.com/img/new/avatars/7.jpg"-->
<!--                        class="rounded-circle"-->
<!--                        alt=""-->
<!--                        style="width: 45px; height: 45px"-->
<!--                />-->
<!--                <div class="ms-3">-->
<!--                    <p class="fw-bold mb-1">Kate Hunington</p>-->
<!--                    <p class="text-muted mb-0">kate.hunington@gmail.com</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </td>-->
<!--        <td>-->
<!--            <p class="fw-normal mb-1">Designer</p>-->
<!--            <p class="text-muted mb-0">UI/UX</p>-->
<!--        </td>-->
<!--        <td>-->
<!--            <span class="badge badge-warning rounded-pill d-inline">Awaiting</span>-->
<!--        </td>-->
<!--        <td>Senior</td>-->
<!--        <td>-->
<!--            <button-->
<!--                    type="button"-->
<!--                    class="btn btn-link btn-rounded btn-sm fw-bold"-->
<!--                    data-mdb-ripple-color="dark"-->
<!--            >-->
<!--                Edit-->
<!--            </button>-->
<!--        </td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->

<div class="container my-5">

    <div class="row row-cols-3 mt-2 mb-2">
        <div class="col-md-1">
            <div class="btn-group dropend">
                <button class="btn btn-dark btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">[[${pageSize}]]
                </button>
                <div class="dropdown-menu text-small shadow">
                    <a class="dropdown-item" href="?size=5">5</a>
                    <a class="dropdown-item" href="?size=10">10</a>
                    <a class="dropdown-item" href="?size=15">15</a>
                    <a class="dropdown-item" href="?size=20">20</a>
                </div>
            </div>
        </div>
        <div class="d-flex col-md-2">
            <div class="btn-group dropend">
                <button class="btn btn-dark btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">[[#{product.table.sorting}]]
                </button>
                <div class="dropdown-menu text-small shadow">
                    <a class="dropdown-item" href="?sort=dateAdded">[[#{product.table.date}]]</a>
                    <a class="dropdown-item" href="?sort=model">[[#{product.table.model}]]</a>
                    <a class="dropdown-item" href="?sort=price">[[#{product.table.price}]]</a>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">[[#{product.table.date}]]</th>
            <th scope="col">[[#{product.table.model}]]</th>
            <th scope="col">[[#{product.table.price}]]</th>
            <th scope="col">[[#{product.table.measure}]]</th>
            <th scope="col">[[#{product.table.status}]]</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <!--/*@thymesVar id="allProducts" type="com.example.my_store_spring.controller.ProductController"*/-->
        <tr th:each="product, props: ${allProducts}">
            <th scope="row">[[${props.count}]]</th>
            <td>[[${product.dateAdded}]]</td>
            <td>[[${product.model}]]</td>
            <td>[[${product.price}]]</td>
            <td>[[${product.measure}]]</td>
            <td th:switch="${product.stockStatus.name()}">
                <img th:case="'ON_STOCK'" src="/img/icons/check-circle.svg" alt="check">
                <img th:case="'OUT_OF_STOCK'" src="/img/icons/cross-circle.svg" alt="cross">
            </td>
        </tr>
        </tbody>

    </table>
    <nav class="pagination-control" aria-label="Pagination" th:if="${totalPages > 0}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                <a th:replace="fragments/paging :: paging(1, '<<', 'First Page')"></a>
            </li>
            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                <a th:replace="fragments/paging :: paging(${currentPage - 1}, 'Prev', 'Previous Page')"></a>
            </li>
            <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
                <a class="page-link" href="#">...</a>
            </li>
            <li class="page-item" th:classappend="${page == currentPage} ? 'active'"
                th:each="page : ${#numbers.sequence((currentPage > 2 ? currentPage - 2 : 1), (currentPage + 2 < totalPages ? currentPage + 2 : totalPages))}">
                <a th:replace="fragments/paging :: paging(${page}, ${page}, 'Page ' + ${page})"></a>
            </li>
            <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
                <a class="page-link" href="#">...</a>
            </li>
            <li class="page-item font-weight-bold" th:classappend="${currentPage == totalPages} ? 'disabled'">
                <a th:replace="fragments/paging :: paging(${currentPage + 1},'Next', 'Next Page')"></a>
            </li>
            <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                <a th:replace="fragments/paging :: paging(${totalPages}, '>>', 'Last Page')"></a>
            </li>
        </ul>
    </nav>
</div>


<!--            <div class="row d-flex">-->
<!--                <div class="col-md-6 mt-2">-->
<!--                    <div class="search">-->
<!--                        <i class="fa fa-search"></i>-->
<!--                        <input id="keyword" type="text" name="size" th:value="${pageSize}" required class="form-control"-->
<!--                               placeholder="Enter keyword">-->
<!--                    </div>-->
<!--                </div>-->
<!--                                    <div class="col-md-1 mt-2">-->
<!--                                        <button id="btnClear" class="btn btn-info">Clear</button>-->
<!--                                    </div>-->
<!--            </div>-->

<!-- Table and Pagination Bar -->

<!--<script type="text/javascript">-->
<!--    $(document).ready(function () {-->
<!--        // ...-->

<!--        $("#btnClear").on("click", function (e) {-->
<!--            e.preventDefault();-->
<!--            $("#keyword").text("");-->
<!--            window.location = "[[@{/tutorials}]]";-->
<!--        });-->
<!--    });-->

<!--    function changePageSize() {-->
<!--        $("#searchForm").submit();-->
<!--    }-->
<!--</script>-->

</body>
<footer th:replace="fragments/footer :: footer_bar"></footer>


</html>